.pagination
    .pagination__recent 
        a(href="#").pagination__text-link recent posts
    .pagination__curent 
        .pagination_curent-active 
            a(href="#").pagination__curent-link 1
            a(href="#").pagination__curent-link 2
            a(href="#").pagination__curent-link 3
    .pagination__older 
        a(href="#").pagination__text-link older posts

